body{background: yellowgreen;}

#main{background: #fff; width: 80%; margin: 50px auto; padding: 50px; text-align: center; box-sizing: border-box; border-radius: 15px;}
#main .main_tit { font-size: 30px; margin-bottom: 30px;}
#main p {margin: 100px 0 30px 0;}
#main button { background: #fff; padding: 5px 15px; margin-top: 30px; border-radius: 10px; border: 1px solid palegreen; cursor: pointer; transition: 0.3s;}
#main button:hover{ color:#fff; background: palegreen;}


#qna {width: 80%; margin: auto; display: none; }
#qna .status { background: #fff; height: 20px; margin-top: 20px; border-radius: 20px;}
#qna .status .statusBar { border-radius: 20px; width: 70px; height: 20px; background: rgb(11, 149, 212);}
#qna .qBox { background: #fff; border-radius: 20px; margin: 30px 0; padding: 20px;}
#qna .answerList {display: block; width: 100%; border: none; background: #fff; border-radius: 20px; padding: 10px; margin: 0 0 10px 0; cursor: pointer;}
#qna .answerList:hover {background: yellowgreen; color:#fff;}


#result{background: #fff; width: 80%; margin: 50px auto; padding: 50px; text-align: center; box-sizing: border-box; border-radius: 15px; display: none;}

.resultNum { margin: 0 0 30px 0; font-size: 30px; font-weight: bold; } 
.resultDesc { margin: 40px 0 50px 0;}

#result button { background: #fff; padding: 5px 15px; margin-top: 30px; border-radius: 10px; border: 1px solid palegreen; cursor: pointer; transition: 0.3s;}
#result button:hover{ color:#fff; background: palegreen;}

/* ----------------- 애니메이션 -----------------*/
@keyframes fadeIn {
    from { opacity: 0; } 
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.fadeIn{
    animation: fadeIn;
    animation-duration: 0.5s;
}
.fadeOut{
    animation: fadeOut;
    animation-duration: 0.5s;
} 